name: Add Release with ZIP

on:
  push:
    tags:
      - "v*"
permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Create ZIP file
        run: |
          mkdir -p output
          cd custom_components/smarthashtag
          zip -r ../../output/smarthashtag.zip ./*

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: output/smarthashtag.zip
